@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap");

.App {
  margin-top: 1vh;
  font-family: "Poppins", sans-serif;
}

.flexi-box {
  display: flex;
  gap: 1rem;
  position: relative; 
}
/* General Styles */
p {
  margin-top: auto !important;
}

a {
  text-decoration: none;
  color: black !important;
}

h1 {
  margin-right: 4rem;
}
/* Header Section */
.header_section {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  margin-bottom: 1.2rem;
}

.header_section h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background: linear-gradient(45deg, #007bff, #00d4ff);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  text-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.dark_mode_icon {
  position: absolute !important;
  top: 1vh;
  right: 4vw;
  color: black; 
  font-size: large !important;
  transition: color 0.3s ease-in-out;
  margin-right: 2rem;
}
.dark_mode_icon:hover{
  background-color: #ffffff;
  border-radius: 50%;
}
/*github icon*/
.github_icon {
  position: absolute !important;
  top: 1vh;
  right: 1vw;
  color: black;
  padding: 0;
  transition: color 0.3s ease-in-out;
}
.github_icon a{
  font-size: .9rem;
}

body.dark .dark_mode_icon {
  color: #bbb !important; 
}
body.dark .dark_mode_icon:hover {
  color: black !important; 
}
body.dark .github_icon{
  background-color: white;
}

.query_section {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.query_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}
/*Suggestion button*/
.suggestion_button {
  background-color: #555555 !important;
}

.suggestion_button:hover {
  background-color: #777777 !important;
}

.suggestions_menu {
  box-shadow: .3rem .6rem #88888878;
}

.suggestions_item {
  background-color: white !important;
}

.suggestions_item:hover {
  background-color: #d1d1d15a !important;
}


.sql-editor-container {
  width: 100%;
  height: 35rem; 
  border: .1rem solid #ccc;
  border-radius: .5rem;
  overflow: hidden;
  padding: 1rem;
}
.theme-selector{
  display: flex;
  justify-content: right;
  padding: .1rem 0rem;
}
.query_input {
  width: 70vw;
}

.query_submit {
  height: 5rem;
  width: 12vw;
  font-weight: bold;
}
/*Output sec*/
.output_section {
  width: 84vw;
  height: 60vh;
  border: .1rem solid rgba(0, 0, 0, 0.474);
  border-radius: .5rem;
  margin-bottom: 5vh;
  overflow-y: auto;
  padding: .2rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  overflow-y: hidden;
}


body.dark .output_section * {
  background-color: #272822 !important; 
  color: white !important;
}
/* History Section  */
.history_btn:hover{
  background-color:#0056b3;
  color: white;
}
.close_btn:hover{
  background-color:#0056b3;
  color: white;
}
.history_section {
  position: absolute;
  left: 0;
  top: 0%;
  width: 30rem;
  height: 100vh;
  overflow-y: auto;
  border: .1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  background-color: white;
  color: black;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}
.history-container {
  padding: 1rem;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
  scroll-behavior: smooth;
}

.history-container::-webkit-scrollbar {
  width: .8rem;
}

.history-container::-webkit-scrollbar-track {
  background: #333;
  border-radius: 1rem;
}

.history-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 1rem;
  border: .2rem solid #333;
}

.history-container::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}


body.dark .history_section {
  background-color: #333 !important;
  color: #ffffff !important;
  border: .1rem solid rgba(255, 255, 255, 0.2);
}

body.dark .history_row {
  color: #ffffff !important;
}

body.dark .history_row:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.history_section.toggle {
  transform: translateX(-110%);
}

.history_row {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: .5rem 0;
}

.history_row p {
  flex-grow: 1;
  margin: 0;
}

.headRows {
  font-size: 1rem;
  font-weight: 700;
}

.TableCell pre {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  margin: auto;
}

.HeadTableRow {
  position: sticky !important;
  z-index: 10;
  top: 0vh;
  background-color: white;
}

/* Loading Text */
.loading_text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #777;
}



/*Light/Dark Mode */
body {
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}

body.dark {
  background-color: #121212;
  color: white;
}

.dark .query_section {
  background-color: #333;
}

/*Run Query Button in Blue Box */
.run-query-container {
  padding: .3rem;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
}

.run_query_btn {
  color: white !important;
  font-weight: bold;
  background-color: #007bff !important;
  border: none;
  padding: .6rem 1.4rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: .4rem;
}

.run_query_btn::before {
  content: "▶";
  font-size: 1.2rem;
}

.run_query_btn:hover {
  background-color: cyan !important;
  color : black !important;
}

/*Button to Toggle History */
.toggle-btn {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: .8rem 1.6rem;
  cursor: pointer;
  border-radius: .5rem;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.history_section {
  background: white;
  padding: 1rem;
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.2);
}

.history_border {
  border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}
/*Download button*/
.download_json_btn{
  margin-left: 1rem;
  background-color: forestgreen !important;
  color: white !important;
  padding: .6rem 1.4rem;
  cursor: pointer;
  font-size: 1rem;
}
.download_json_btn::before {
  content: "🡇";
  font-size: 1.2rem;
}
.download_json_btn:hover{
  background-color: limegreen!important;
  color : black !important;
}
