@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap");

.App {
  margin-top: 1vh;
  font-family: "Poppins", sans-serif;
}

.flexi-box {
  display: flex;
  gap: 1rem;
  position: relative; 
}

p {
  margin-top: auto !important;
}

a {
  text-decoration: none;
  color: black !important;
}

h1 {
  margin-right: 4rem;
}


.header_section {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  margin-bottom: 1.2rem;
}

.header_section h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background: linear-gradient(45deg, #007bff, #00d4ff);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  text-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.2);
  margin-top: 1.2rem;
}


.dark_mode_icon {
  position: absolute !important;
  top: 1vh;
  right: 4vw;
  color: black; 
  font-size: large !important;
  transition: color 0.3s ease-in-out;
  margin-right: 2rem;
}
.dark_mode_icon:hover{
  background-color: #ffffff;
  border-radius: 50%;
}

.github_icon {
  position: absolute !important;
  top: 1vh;
  right: 1vw;
  color: black;
  padding: 0;
  transition: color 0.3s ease-in-out;
}
.github_icon a{
  font-size: .9rem;
}

/* 🔹 Change color in dark mode */
body.dark .dark_mode_icon {
  color: #bbb !important; 
}
body.dark .dark_mode_icon:hover {
  color: black !important; 
}
body.dark .github_icon{
  background-color: white;
}

/* Query Section */
.query_section {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.suggestion_button {
  background-color: #555555 !important;
}

.suggestion_button:hover {
  background-color: #777777 !important;
}

.suggestions_menu {
  box-shadow: .3rem .6rem #88888878;
}

.suggestions_item {
  background-color: white !important;
}

.suggestions_item:hover {
  background-color: #d1d1d15a !important;
}

/* Query Editor */
.query_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
}

.sql-editor-container {
  width: 100%;
  height: 30rem; 
  border: .1rem solid #ccc;
  border-radius: .5rem;
  overflow: hidden;
  padding: 1rem;
}
.theme-selector{
  display: flex;
  justify-content: right;
  padding: .1rem 0rem;
}
.query_input {
  width: 70vw;
}

.query_submit {
  height: 5rem;
  width: 12vw;
  font-weight: bold;
}

/* Output Section */
.output_section {
  width: 84vw;
  height: 60vh;
  border: .1rem solid rgba(0, 0, 0, 0.474);
  border-radius: .5rem;
  margin-bottom: 5vh;
  overflow-y: auto;
  padding: .2rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  overflow-y: hidden;
}


body.dark .output_section * {
  background-color: #272822 !important;
  color: white !important;
}
.headRows {
  font-size: 1rem;
  font-weight: 700;
}

.TableCell pre {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  margin: auto;
}

.HeadTableRow {
  position: sticky !important;
  z-index: 10;
  top: 0vh;
  background-color: white;
}

.loading_text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #777;
}


/*Light/Dark Mode */
body {
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}

body.dark {
  background-color: #121212;
  color: white;
}

.dark .query_section {
  background-color: #333;
}

/*Run Query Button in Blue Box */
.run-query-container {
  padding: .3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  gap : .4rem
}

.run_query_btn {
  color: white !important;
  font-weight: bold;
  background-color: #007bff !important;
  border: none;
  padding: .6rem 1.4rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: .4rem; 
}

.run_query_btn::before {
  content: "▶";
  font-size: 1.2rem;
}

.run_query_btn:hover {
  background-color: cyan !important;
  color : black !important;
}

.toggle-btn {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: .8rem 1.6rem;
  cursor: pointer;
  border-radius: .5rem;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.download_json_btn{
  margin-left: 1rem;
  background-color: forestgreen !important;
  color: white !important;
  padding: .6rem 1.4rem;
  cursor: pointer;
  font-size: 1rem;
}
.download_json_btn::before {
  content: "🡇";
  font-size: 1.2rem;
}
.download_json_btn:hover{
  background-color: limegreen!important;
  color : black !important;
}
