
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  /* 🔹 Responsive */
  @media (max-width: 400px) {
    html{
      font-size: 40%;
    }
  }
  @media (max-width: 1200px) {
    html{
      font-size: 100%;
    }
  }
  @media (max-width: 768px) {
    html{
      font-size: 70%;
    }
  }
  @media (max-width: 400px) {
    html{
      font-size: 55%;
    }
  }